<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro '$(find pcl_processor)/urdf/realsense_415_demo_robot.urdf.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- start the pointcloud camera -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
     <arg name="filters" value="pointcloud, colorizer"/>
  </include>

  <!-- start the pointcloud capture server -->
  <node name="capture_pointcloud_server" pkg="pcl_processor" type="capture_pointcloud_server.py"/>
  <!-- start the calculate object pose server -->
  <node name="calculate_object_pose" pkg="pcl_processor" type="calculate_objectpose_from_pointcloud" output="screen"/>

  <node pkg="rviz" type="rviz" name="rviz" required="true"
      args="-d $(find pcl_processor)/config/rviz.rviz"/>


</launch>
